extends layout

block content
    #universe
        #galaxy
            div.menu.main-page-link
                a(href='/') Back to main page
            div.menu.mobile-menu
                each item in items
                    .menu-item
                        a(href="/#{item.name}") #{item.name}
                        div(id="#{item.name}")
                            //- if item.name != 'sun'
                            .planet(style="background-image: url('../img/planets/#{item.name}.jpg')")
                                if item.name === 'saturn' || item.name === 'uranus'
                                    .rings
                            .moons-wrapper.hidden
                                if item.moons
                                    each moon in item.moons
                                        - var isTrue = "background-image: url('../img/planets/" + moon.name + ".jpg'); " + moonPos
                                        - var isFalse = "background-image: url('../img/moons/" + item.name + "/" + moon.name + ".jpg'); " + moonPos
                                        - var href = item.name === 'sun' ? "/" + moon.name : "/" + item.name + "/" + moon.name
                                        div
                                            a(href= href) #{moon.name}
                                            .moon(id="#{moon.name}",
                                                style= item.name === 'sun' ? isTrue : isFalse)
                                                if moon.rings
                                                    .rings
    script.
        // Get anchors from menu
        var menuLinks = document.getElementsByTagName('a');

        // Transform from NodeList to Array
        menuLinks = Array.prototype.slice.call(menuLinks);

        menuLinks.forEach(function (link) {
            link.addEventListener('click', function (ev) {
                ev.preventDefault();
                socket.emit('eventchange', {
                    url: ev.target.href
                });
            }, false);
        });