extends layout

block content
	#universe
		.wrapper
			.planet-wrapper
				if title == 'sun'
					.planet-img(style="background-image: url(../img/sun.png); background-color: transparent;")
				else 
					.planet-img(style="background-image: url(../img/#{title}.jpg)")
			.info-wrapper
				div= title

	ul.menu
		each item in items
			li
				//- a(href="/planet") #{item.name}
				a(href="/#{item.link_address}") #{item.name}