extends layout

block content
    #universe
        #galaxy
            .wrapper
                .planet-wrapper(id="#{planet}")
                    .planet(style="background-image: url('../img/planets/#{planet}_hd.jpg')")
                        if planet === 'saturn' || planet === 'uranus'
                            .rings
                    .moons-wrapper
                        each item in items
                            if item.name === planet && item.moons
                                each moon in item.moons
                                    - var axisInclination = moon.description['axis inclination']
                                    - var enableMoonRotate = axisInclination ? deleteLastChar(axisInclination) : ""
                                    //- var moonPos = "top: " + moon.pos.top + "px; left: " + moon.pos.left + "px; transform: scale(" + moon.pos.scale + ") rotateZ("+ enableMoonRotate +"deg);"
                                    - var moonPos = "top: " + moon.pos.top + "px; left: " + moon.pos.left + "px; transform: scale(" + moon.pos.scale + ") "

                                    - var isPlanet = "background-image: url('../img/planets/" + moon.name + ".jpg'); " + moonPos
                                    - var isMoon = "background-image: url('../img/moons/" + item.name + "/" + moon.name + ".jpg'); " + moonPos
                                    - var href = item.name === 'sun' ? "/" + moon.name : "/" + item.name + "/" + moon.name

                                    .moon(id="#{moon.name}",
                                        style= item.name === 'sun' ? isPlanet : isMoon)
                                        if moon.rings
                                            .rings
                                        a(href= href)

                                            table.tooltip.moon-tooltip
                                                thead
                                                    tr
                                                        td.tooltip__name(colspan='2') #{moon.name}
                                                tbody.tooltip__description--wrapper
                                                    each item, key in moon.description
                                                        tr.tooltip__description--content
                                                            td(class='tooltip__description--key') #{key}
                                                            td(class='tooltip__description--item tooltip__#{key}') #{item}
                each item in items
                    if item.name === planet
                        .info-wrapper
                            .info__contents
                                .info__contents--introduction
                                    .info__contents--title #{item.contents.introduction.title}
                                    .info__contents--content #{item.contents.introduction.content}
                                .info__contents--description
                                    .info__contents--title #{item.contents.description.title}
                                    .info__contents--content #{item.contents.description.content}
                                .info__contents--facts
                                    .info__contents--title #{item.contents.facts.title}
                                    .info__contents--content #{item.contents.facts.content}
                            .info__gallery

        include menu

    - function deleteLastChar(x){ lc = x.slice(0, -1); return parseFloat(lc);}
    script.
        socket.on('urlcontrol', function (data) {
            window.location.href = data.url;
        });