extends layout

block content
    #universe
        #galaxy
            .wrapper
                .planet-wrapper(id="#{title}")
                    .planet(style="background-image: url('../img/planets/#{title}_hd.jpg')")
                        if title === 'saturn' || title === 'uranus'
                            .rings
                    .moons-wrapper
                        each item in items
                            if item.name === title && item.moons
                                each moon in item.moons
                                    - var moonPos = "top: " + moon.pos.top + "px; left: " + moon.pos.left + "px; transform: scale(" + moon.pos.scale + ");"

                                    - var isTrue = "background-image: url('../img/planets/" + moon.name + ".jpg'); " + moonPos
                                    - var isFalse = "background-image: url('../img/moons/" + item.name + "/" + moon.name + ".jpg'); " + moonPos

                                    a.moon(
                                        id="#{moon.name}",
                                        href="/#{moon.name}",
                                        style= item.name === 'sun' ? isTrue : isFalse)

                                        if moon.rings
                                            .rings

                                        table.tooltip.moon-tooltip
                                            thead
                                                tr
                                                    td.tooltip__name(colspan='2') #{moon.name}
                                            tbody.tooltip__description--wrapper
                                                each item, key in moon.description
                                                    tr.tooltip__description--content
                                                        td(class='tooltip__description--key') #{key}
                                                        td(class='tooltip__description--item tooltip__#{key}') #{item}

                .info-wrapper
                    .info-gallery

        include menu

    script.
        socket.on('urlcontrol', function (data) {
            window.location.href = data.url;
        });