extends layout

block content

	#galaxy
		.wrapper
			.planet-wrapper(id="#{title}")
				.planet
					if title == 'saturn' || title == 'uranus'
						.rings
				.moons-wrapper
					each item in items
						if item.name == title && item.moons
							each moon in item.moons
								a.moon(class="#{moon.name}", style="background-image: url('../img/moons/#{item.name}/#{moon.name}.jpg')" href="/#{title}/#{moon.name}")
									.moon-tooltip #{moon.name}

	include menu

	script.
		var socket = io.connect();
		socket.on('urlcontrol', function (data) {
			window.location.href = data.url;
		});